# Logging and Output arguments
log_level: info
logging_strategy: steps
logging_steps: 1
report_to:
- tensorboard
save_strategy: steps
save_steps: 1000
save_total_limit: 1
output_dir: data/OpenSeek-1.4B-A0.4B-KTO
overwrite_output_dir: true

# Model arguments
model_name_or_path: ./models/OpenSeek-Small-v1-SFT
model_revision: main
trust_remote_code: True
torch_dtype: bfloat16
attn_implementation: flash_attention_2

# Data training arguments
dataset_name: /workspace/datasets/AI-MO/NuminaMath-CoT-preference
dataset_config: default
dataset_num_proc: 8
max_length: 4096

# KTO Trainer arguments
seed: 233
do_train: True
num_train_epochs: 4
per_device_train_batch_size: 8
do_eval: False
eval_strategy: 'no'
eval_steps: 100
per_device_eval_batch_size: 1
optim: adamw_torch
learning_rate: 2.0e-5
lr_scheduler_type: cosine_with_min_lr
lr_scheduler_kwargs:
  min_lr_rate: 0.1
warmup_ratio: 0.1
weight_decay: 0.01
gradient_accumulation_steps: 2
gradient_checkpointing: true
gradient_checkpointing_kwargs:
  use_reentrant: false
max_grad_norm: 1.0
bf16: True
use_liger_kernel: True
use_liger_loss: True